@charset "UFT-8";

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{
    text-decoration: none; 
    color: black;
    display: block;
}
body{
    font-family: 'MaruBuriExtraLight';
    font-family: 'MaruBuriLight';
    font-family: 'MaruBuri';
    font-family: 'MaruBuriBold';
    font-family: 'MaruBuriSemiBold';
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;

}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.clearFix:after{
    content:"";
    display:block;
    clear: both;
}
#wrap{
    width: 100%; height: 103px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0px; top: 0px;
    z-index: 100;
    transition: all 0.3s;
    overflow: hidden;
    
}
#wrap:hover{
    width: 100%;
    height: 350px;
}

#header{
    width: 100%; height: 913px;
    position: relative;
}
#header .hamburger{
    width: 100%;
    display: none;
}
#header .hamburger .menu{
    background-image: url(images/images_68.png);
    background-repeat: no-repeat;
    background-size: contain;
/*     width: 42px; height: 38px; */
    width: 34px; height: 20px;
    position: absolute;
    z-index:100;
    right: 20px; top: 25px;
}
#header .gnb_align{
    width: 80%; height: 103px;
    margin: 0 auto;
    /* background-color: #7a9c6b; */
}
#header .gnb{
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 0.4s;
}
#header .gnb>li{
    width:150px; height: 100px;
    line-height: 100px;
    position: relative;
}

#header #wrap .gnb_align .gnb>li:nth-child(4){
    margin-left: 25%;
}
#header .gnb>li>a{
    font-size: 13pt;
    font-weight: bold;
    /* text-align: center; */
}

#header #wrap .gnb_align .gnb>li .nav{
    position: absolute;
    left:0px; top:100px;
    line-height: 35px;
}
#header #wrap .gnb_align .gnb>li .nav li:hover{
    color: #066337;
    cursor: pointer;
}

#header #wrap .gnb_align .gnb>li>a:hover:before{
    content: "";
    display: block;
    width: 4px; height: 13px;
    background-color: #066337;
    color: #066337;
    position: absolute;
    left: -11px; top: 43px;
}
#header #wrap .logo{
    background-image: url(images/images_03.png);
    width: 290px; height: 83px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:50%; top:10px;
    transform: translateX(-65%);
    transition: all 0.4s;
}
#header .banner{
    width: 100%; height: 910px;
    background-color: #fcfaee;
    padding-top: 100px;
    position: relative;
    display: flex;
}

#header .banner .ban_txt{
    width: 50%; 
    /* height: 910px; */
    padding-top: 100px;
    
}
#header .banner p{
    font-size: 13pt;
    margin-bottom: 30px;
    margin-top: 30px;
    line-height: 30px;
    margin-left: 150px;
    padding-right: 15px;
}
#header .banner h2{
    color: #066337;
    font-size: 43pt;
    margin-left: 150px;
}
#header .bt{
    width: 480px; height: 102px;
    margin-left: 150px;
    background-color:#066337;
}
#header .bt li{
    float: left;
    padding-top: 40px;
    padding-left: 50px;
    font-size: 15pt;
}
#header .bt li a{
    color: white;
}
#header .bt li a img{
    padding-left: -70px;
}
#header .banner .circle{
    width: 200px; height: 10px;
    margin-left: 13%;
    margin-top: 150px;
}
#header .circle li{
    float: left;
    width: 10px; height: 10px;
    border-radius: 50%;
    margin-left: 25px;
    background-color:#d6d2c7;
}
#header .circle li:nth-child(3){
    width: 30px; height: 10px;
    background-color: #066337;
    border-radius: 10px;
}
#header .ban_photo{
    width: 50%; height:910px;
    background-image: url(images/images_07.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    
}
#section{
    background-color: #f8f5ee;
    
}
#section .con1{
    width: 100%; height: 720px;
    margin: 0 auto;
    background-color:#f8f5ee;
    /* margin-top: 150px; */


}
#section .con1 h2{
    width: 180px; height: 50px;
    margin: 0 auto;
    padding-top: 150px;
    font-size: 24pt;
    color: #066337;
}
#section .con1>p{
    width: 290px; height: 20px;
    margin: 0 auto;
    font-size: 13pt;
}
#section .con1 .food_gp{
    width: 1200px; 
    margin: 0 auto;
    height: 300px;
    margin-top: 50px;
}
#section .con1 .food_gp>ul{
    /* width: 100%; */
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#section .con1 .food_gp>ul>li{
    text-align: center;
    margin-top: 30px;
    line-height: 28px;
}
#section .con1 .food_gp>ul>li>a{
    width: 260px; height: 260px;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    transition: all 0.3s;
}
#section .con1 .food_gp>ul>li>a:hover{
    transform: all 0.3s;
    background-size: 100%;
}
#section .con1 .food_gp>ul>li>h4{
    margin-bottom: 10px;
    margin-top: 10px;
}


#section .con1 .food_gp>ul .mony{
    color: #066337;
    margin-top: 10px;
}
#section .con1 .food_gp .biyoth .food1{
    background-image: url(images/images_10.jpg);
}
#section .con1 .food_gp .ice .food2{
    background-image: url(images/images_12.jpg);
}
#section .con1 .food_gp .milk .food3{
    background-image: url(images/images_14.jpg);
}
#section .con1 .food_gp .cheda .food4{
    background-image: url(images/images_16.jpg);
}
#section .con2 .back_photo{
    width: 100%; height: 600px;
    background-image: url(images/images_67.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 50px;
    background-attachment: fixed;
}
#section .con2 h2{
    color: #066337;
    font-size: 30pt;
    margin-left: 500px;
    padding-top: 46px;
}
#section .con2 .con2-1{
    width: 488px; 
    height: 367px;
    margin-left: 1000px;
    padding-top: 20px;
}
#section .con2 .con2-1 h4{
    font-size: 20pt;
    padding-bottom: 30px;
}
#section .con2 .con2-1 p{
    font-size: 13pt;
    line-height: 30px;
    padding-bottom: 30px;
}
#section .con2 .con2-1 .bt2{
    display: flex;
    width: 360px; height:90px;
    background-color: #066337;
}
#section .con2 .con2-1 .bt2 li{
    padding-top: 35px;
    padding-left: 50px;
    font-size: 13pt;
}
#section .con2 .con2-1 .bt2 li>a{
    color: white;
}
#section .zayo1{
    width: 430px; height: 755px;
    background-image: url(images/images_66.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 2;
    position: absolute;
    left: 500px; top: 1850px;
}
#section .zayo2{
    width: 300px; height: 300px;
    background-image: url(images/images_27.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 830px;
    margin-top: 70px;
    z-index: 3;
    
}

#section .zayo3{
    width: 200px; height: 450px;
    background-image: url(images/images_24.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 760px;
    margin-top: -190px;
    z-index: 4;
    animation: circle 2s infinite;
}
@keyframes circle{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#section .esg{
    width: 1000px;
    margin: 0 auto;
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
#section .esg h2{
    color: #066337;
    font-size: 30pt;
}
#section .esg h4{
    font-size: 15pt;
    padding-bottom: 30px;
    padding-top: 30px;
}
#section .esg p{
    font-size: 14px;
    line-height: 23px;
    padding-bottom: 30px;
}
#section .bt3{
    display: flex;
    width: 360px; height:90px;
    border: 1px solid #066337;
    margin-top: 28px;
}
#section .bt3 li{
    padding-top: 35px;
    padding-left: 50px;
    font-size: 13pt;
}
#section .bt3 li>a{
    color:#066337;
}
#section .esg .esg_right{
    position: relative;
}
#section .esg .caw{
    width: 430px; 
    height: 550px;
    background-image: url(images/images_28.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* position: absolute;
    left: 600px; top: 0px; */
}
#section .esg .seoul_milk{
    width: 150px; height: 250px;
    background-image: url(images/images_35.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right:-80px; bottom:-100px;
    animation: circle 2s infinite;
}
@keyframes circle{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#section .story{
    /* width: 1920px; height: 822px; */
    background-color: #f8f5ee;
    /* border: 1px solid rgb(136, 0, 255); */
    margin-top: 300px;
}
#section .story .story-1{
    /* width: 1837px; height: 755px; */
    /* margin: 0 auto; */
    margin-top: 100px;
    /* border: 1px solid red; */
    
}
#section .story .story-1>h2{
    margin-left: 150px;
    color: #066337;
    font-size: 24pt;
    float: left;
}
#section .story .story-1>p{
    float: left;
    padding-left: 30px;
    padding-top: 18px;
}
#section .story .milk_show{
    width: 100%;
    overflow: hidden;
}
#section .story .milk_gp>ul{
    display: flex;
    justify-content: space-between;
    width: 1828px; height: 661px;
    /* border: 1px solid rgb(255, 0, 247); */
    margin-left: 110px;
}

#section .story .milk_gp ul>li{
    width: 417px; 
    height: 617px;
    background-color: rgb(255, 255, 255);
    margin-left: 40px;
    margin-top: 30px;
    position: relative;     
    transition: all 0.3s;
}
#section .story .milk_show .milk_gp ul li:hover{
    transform: scale(1.04);
}
#section .story .milk_gp .milk4{margin-right: 0;}

#section .story .milk_gp h4{
    padding-left: 30px;
    font-size: 13pt;
    padding-top: 30px;
}
#section .story .milk_gp p{
    padding-left: 30px;
    padding-top: 20px;
    line-height: 25px;
}
/* #section .story .story-1 .milk_gp a{
    width: 417px; height: 425px;
    background-repeat: no-repeat;
} */
#section .story .milk_gp .milk1 .m_photo1{
    background-image: url(images/images_32.jpg);
    width: 417px; height: 425px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#section .story .milk_gp .milk2 .m_photo2{
    background-image: url(images/images_34.jpg);
    width: 417px; height: 425px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#section .story .milk_gp .milk3 .m_photo3{
    background-image: url(images/images_36.jpg);
    width: 417px; height: 425px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#section .story .milk_gp .milk4 .m_photo4{
    background-image: url(images/images_38.jpg);
    width: 417px; height: 425px;
    background-repeat: no-repeat;
    background-position: center;
}
#section .love{
    width: 100%;
    height: 524px;
    background-image: url(images/images_43.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
}
#section .love>h2{
    color: #066337;
    font-size: 35pt;
    padding-top: 100px;
    padding-left: 100px;
}
#section .love>p{
    color: #066337;
    font-size: 20pt;
    padding-top: 50px;
    padding-left: 100px;
    line-height: 45px;
}
#footer{
    width: 100%; 
    /* height: 495px; */
    background-color: #f8f5ee;
}

#footer .footer_menu{
    display: flex;
    width: 1700px; height: 50px;
    margin: 0 auto;
    padding-top: 80px;
    /* border: 1px solid rgb(8, 0, 255); */
}
#footer .footer_menu a{
    margin-right: 50px;
    margin: 0 auto;
    color: #066337;
}
#footer .footer_nemo{
    display: flex;
}
#footer .footer_menu2>p{
    width: 527px; height: 150px;
    margin-left: 185px;
    /* border: 1px solid red; */
    line-height: 30px;
    color: #066337;
    box-sizing: border-box;
}
#footer .footer_menugp{
    width: 556px; height: 158px;
    margin-left: 560px;
    margin-top: 50px;
    /* border: 1px solid rgb(51, 0, 255); */
}
#footer .footer_menugp .footer_menu3>p{
    padding-bottom: 60px;
    color: #066337;
}
#footer .footer_menugp .footer_menu4{
    width: 241px; height: 56px;
    background-color: #066337;
    display: flex;
    margin-left: 220px;
    margin-top: -100px;
}
#footer .footer_menugp .footer_menu4>a{
    padding-top: 15px;
    padding-left: 50PX;
    color: white;
    font-size: 13pt;
}
#footer .footer_menugp .footer_menu4>a>img{
    width: 30px; height: 30px;
    /* padding-left: 70px; */
    margin-top: px;
}
#footer .footer_menugp .footer_menu5{
    width: 459px; height: 61px;
    border: 1px solid #0f2b03; 
    margin-top: 30px;
    position: relative;
}
#footer .footer_menugp .footer_menu5>p{
    color: #066337;
    text-align: center;
    padding-top: 20px;
    
}
#footer .footer_menugp .footer_menu5>img{
    width: 73px; height: 25px;
    position: absolute;
    left: 183px;
    margin-top: -22px;
}
#footer .copyright{
    width: 100%; height: 75px;
    background-color: #0f2b03;
    color: white;
    text-align: center;
    line-height: 75px;
}




/* 테블릿 화면 */
@media all and (min-width: 769px) and (max-width:1440px){
    #header .gnb_align{
        width: 98%; margin: 0 auto;
        height: 150px;
        /* background-color: #ebb72a; */
    }
    #wrap{
        height: 150px;
    }
    #header{
        height: 570px;
    }
    #header .gnb{
        padding-top: 70px;
        width: 95%; margin-left:5%;
    }
    #header #wrap .gnb_align .gnb>li:nth-child(4){
        margin-left: 0;
    }
    #header #wrap .logo{transform: translateX(-50%);}

    #header .banner{
        width: 100%; height: 470px;
    }
    #header .ban_photo{
        width: 50%; height: 470px;
    }
    #header .banner .ban_txt{
        width: 50%; 
        /* height: 435px; */
        padding-top: 30px;
        /* border: 1px solid green; */
    }
    #header .banner p{
        font-size: 13pt;
        margin-bottom: 20px;
        margin-top: 30px;
        line-height: 30px;
        margin-left: 50px;
    }
    #header .banner h2{
        color: #066337;
        font-size: 30pt;
        margin-left: 50px;
    }
    #header .bt{
        width: 295px; height: 65px;
        /* transform: translateX(-17%); */
        margin-left: 50px;
        background-color:#066337;
    }
    #header .bt li{
        padding-top: 24px;
        padding-left: 30px;
        font-size: 13pt;
    }
    
    #header .bt li a img{
        padding-left: 0px;
        margin-top: -5px;
    }
    #header .banner .circle{
        margin-top: 19px;
        margin-left: 8%;
    }
    #header .circle li{
        width: 8px; height: 8px;
        margin-left: 20px;
    }
    #section .con1{
        height: 600px;
    }
    #section .con1 h2{
        padding-top: 30px;
    }
    #section .con1 .food_gp{
        width: 800px;
    }
    #section .con1 .food_gp>ul>li>a{
        width: 230px; height: 230px;
    }
    #section .con1 .food_gp .cheda{
        display: none;
    }
    #section .con2 .back_photo{
        height: 400px;
    }
    #section .con2 h2{
        margin-left: 50px;
        padding-top: 70px;
        font-size: 25pt;
    }
    #section .con2 .con2-1{
        /* margin-left: 430px; */
        transform: translateX(55%);
        height: 270px;
        width: 300px;
        /* margin-left: 0; */
        margin: 0 auto;
        margin-top: -100px;
        /* border:1px solid rgb(8, 0, 255); */
    }
    #section .con2 .con2-1 h4{
        font-size: 16pt;
    }
    #section .con2 .con2-1 p{
        font-size: 12pt;
        padding-bottom:13px;
    }
    
    #section .con2 .con2-1 .bt2{
        width: 300px; height: 70px;
    }
    #section .con2 .con2-1 .bt2 li{
        padding-top: 25px;
        padding-left: 20px;
    }
    #section .zayo1{
        display: none;
    }
    #section .zayo2{
        display: none;
    }
    #section .zayo3{
        display: none;
    }
    #section .esg h2{
        display: flex;
        font-size: 25pt;
        margin-left: 2.5%;
        margin-top: 20px;
        text-align: left;
    }
    
    #section .bt3{
        margin-left: 2.5%;
        margin-top: 110px;
        width: 300px; height: 70px;
    }
    #section .bt3 li{
        padding-top: 25px;
        padding-left: 20px;
    }
    #section .story{
        margin-top: 100px;

    }
    #section .story .story-1>h2{
        margin-left: 15px;
    }
    
    #section .story .milk_gp h4{
        padding-left: 20px;
        padding-top: 20px;
    }
    #section .story .milk_gp p{
        padding-left: 20px;
        padding-top: 10px;
        line-height: 25px;
        font-size: 10.5pt;
    }
    #section .story .milk_show .milk_gp .milk4{
        display: none;
    }
    #section .story .milk_gp>ul{
        margin-left: 0px;
        width: 98%; 
        height: 520px;
        margin: 0 auto;
        
    }
    #section .story .milk_gp ul>li{
        width: 31%; height: 500px;
        margin-left: 0px;
        box-sizing: border-box;
    } 
    #section .story .milk_gp ul>li p{
        padding-right: 10px;
    }
    #section .story .milk_gp .milk1 .m_photo1{
        width: 100%; height: 325px;
    }
    #section .story .milk_gp .milk2 .m_photo2{
        width: 100%; height: 325px;
    }
    #section .story .milk_gp .milk3 .m_photo3{
        width: 100%; height: 325px;
    }
    #section .love{
        height: 400px;
    }
    #section .love>h2{
        font-size: 26pt;
    }
    #section .love>p{
        font-size: 15pt;
        padding-top: 10px;
        line-height: 39px;
    }
    #footer .footer_menu{
        display: none;
    }
    #footer .footer_nemo{
        flex-direction: column;
    }
    #footer .footer_menu2>p{
        width: 90%;
        margin:0 auto;
        margin-top: 18px;
        margin-bottom: 20px;
    }
    #footer .footer_menugp .footer_menu4{
        margin-top: -80px;
    }
    #footer .footer_menugp{
        display: none;
        margin-left: 0;
    }
    #footer .footer_menugp .footer_menu3>p{
        padding-bottom: 40px;
    }
    #footer .footer_menugp .footer_menu5{
        margin-top: 10px;
    }
}
/* esg 화면작기 추가----------------------------------------- */
@media all and (min-width: 769px) and (max-width:1024px){
    #section .esg{
        width: 90%;
        margin: 0 auto;
        min-width: 300px;
        /* margin-left: 0px; */
        margin-top: 70px;
        position: relative;
    }
    #section .esg .esg_text{
        position: absolute;
        right:10px; top:0px;
        text-align: left;
    }
    #section .esg .caw{
        display: none;
    }
    #section .esg .seoul_milk{
        display: none;
    }
    #section .bt3{
        width: 100%;
    }
    #section .bt3 li img{width: 90%;}
}


/* 모바일버전 베스트상품------------------------------------ */
@media all and (min-width:529px) and (max-width:768px){
    #section .con1 .food_gp>ul{
        width: 80%; margin: 0 auto;
        /* border:1px solid yellow; */
    }
    #section .con1 .food_gp>ul>li{
        width: 47%;
    }
    #section .con1 .food_gp>ul>li>a{
        display: block;
        width: 100%;
        /* border:1px solid rgb(131, 131, 210); */
    }
}
/* 모바일 버전 더 작게------------------------------ */
@media all and (max-width:768px){
    #wrap{
        height: 73px;
    }
    #header{
        height: 480px;
    }
    #header .gnb_align{
        height: 73px;
    }
    #header #wrap .logo{
        width: 190px;
        height: 53px;
        transform: translateX(-52%);
    }
    #header .gnb{
        display: none;
    } 
    /* #header .gnb>li{
        background-color: #635a06;
        height: 73px;
        display: none;
    } */
    #header .hamburger{
        display: block;
    }
    #header .hamburger .menu{
        cursor: pointer;
    }
    #header .hamburger .mobile_menu{
        width: 100%; height: 53%;
        position: fixed;
        right: 0; top: 0px;
        z-index: 100000;
        background-color: #ffffff;
        display: none;
    }
    #header .hamburger .mobile_menu li{
        width: 100%;
        text-align: center;
        font-size: 13pt;
        line-height: 50px;
        border-bottom: 1px solid #066337;
    }
    #header .hamburger .mobile_menu li:first-child a{
        background-image: url(images/xmark.svg);
        width: 25px; height: 25px;
        background-repeat: no-repeat;
        margin-left: 10px;
    }
    #header .hamburger .mobile_menu li:first-child{
        border-bottom: none;
        background-color: #16a05f;
        height: 10%;
        padding-top: 10px;
    }
    #header .hamburger .mobile_menu li:last-child{
        border-bottom: none;
    }
    /* #header .hamburger .mobile_menu li:nth-child(2) a{
        background-image: url(images/images_03.png);
        background-size: cover;
        background-position: center;
        width: 100px; height: 30px;
        position: absolute;
        left: 40%; top: 0px;
    } */
    #header .hamburger .mobile_menu li>a{
        color: #066337;
    }
    #header .banner{
        width: 100%; height:500px;
        padding-top: 0px;
        position: relative;
        /* border: 1px solid forestgreen; */
        background-color: transparent;
    }
    
    #header .banner .ban_txt{
        position: absolute;
        left: 0px; top:-50px;
        width: 100%; height: 500px;
        padding-top: 150px;

    }
    #wrap:hover{
        height: 73px;
    }
    
    #header .ban_photo{
        width: 100%; height: 550px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #header .banner h2{
        font-size: 27pt;
        margin-left: 10px;
    }
    #header .banner p{
        margin-left: 10px;
        width:280px;
        line-height: 18pt;
        /* background-color: rgba(255, 255, 255, 0.75); */
        font-size: 10.5pt;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    #header .bt{
        margin-left: 10px;
        width: 130px; height: 45px;
    }
    #header .bt li{
        padding-left: 13px;
        padding-top: 15px;
        font-size: 11pt;
    }
    #header .bt li img{display: none;}
    #header .banner .circle{
        display: none;
    }
    #section .con1{
        height: 1050px;
        margin-top: 0px;
    }
    #section .con1 .food_gp{
        width: 100%;
    }
    #section .con1 .food_gp>ul>li>a{
        width: 100%;
    }
    #section .con1 h2{
        padding-top: 80px;
    }
    #section .con1 .food_gp>ul>li{
        width: 47%;
        margin-top: 0px;
    }
    
    #section .con1 .food_gp>ul>li>a{
        display: block;
        width: 100%;
    }
    #section .con2 .back_photo{
        height: 400px;
    }
    #section .con2 h2{
        margin-left: 20px;
        padding-top: 50px;
        font-size: 20pt;
    }
    #section .con2 .con2-1{
        transform: translateX(-10%);
        height: 270px;
        width: 300px;
        margin: 0 auto;
        /* margin-top: -150px; */
    }
    #section .con2 .con2-1 h4{
        font-size: 13pt;
        margin-bottom: -20px;
    }
    #section .con2 .con2-1 p{
        font-size: 11pt;
        line-height: 25px;
    }
    
    #section .con2 .con2-1 .bt2{
        width: 160px; height: 45px;
    }
    #section .con2 .con2-1 .bt2 li{
        padding-top: 15px;
        padding-left: 15px;
        font-size: 11pt;
    }
    #section .con2 .con2-1 .bt2 li img{display: none;}
    #section .zayo1{
        display: none;
    }
    #section .zayo2{
        display: none;
    }
    #section .zayo3{
        display: none;
    }
    
    #section .esg{
        width: 90%;
        margin: 0 auto;
        min-width: 300px;
        /* margin-left: 0px; */
        margin-top: 70px;
        position: relative;
    }
    #section .esg .esg_text{
        position: absolute;
        left:2.5%; top:116px;
        text-align: left;
    }
    #section .esg .caw{
        display: none;
    }
    #section .esg .seoul_milk{
        display: none;
    }
    
    #section .bt3{
        margin-left: 2.5%;
        margin-top: 330px;
        width: 250px; height: 58px;
        border: none;
    }
    #section .bt3 li{
        padding-top: 20px;
        padding-left: 15px;
        font-size: 11pt;
        display: none;
    }
    #section .story .milk_show{
        margin: 0 auto;
    }
    #section .story{
        /* margin-top: 100px; */
        margin: 0 auto;

    }
    #section .story .story-1>h2{
        margin: 0 auto;
        margin-left: 70px;
    }
    #section .story .story-1>p{
/*         padding-left: 10%; */
        margin: 0 auto;
    }
    #section .story .milk_gp h4{
        padding-left: 20px;
        padding-top: 20px;
    }
    #section .story .milk_gp p{
        padding-left: 20px;
        padding-top: 10px;
        line-height: 25px;
        font-size: 10.5pt;
    }
    #section .story .milk_show .milk_gp .milk1{
        display: none;
    }
    #section .story .milk_show .milk_gp .milk3{
        display: none;
    }
    #section .story .milk_show .milk_gp .milk4{
        display: none;
    }
    #section .story .milk_gp>ul{
        margin-left: 0px;
        width: 100%; 
        height: 520px;
        margin: 0 auto;
        
    }
    #section .story .milk_gp ul>li{
        width: 65%; height: 500px;
        margin-left: 0px;
        margin: 0 auto;
        margin-top: 30px;
        box-sizing: border-box;
    } 
    #section .story .milk_gp ul>li p{
        padding-right: 10px;
    }
    #section .story .milk_gp .milk2 .m_photo2{
        width: 100%; height: 325px;
    }
    #section .love{
        height: 250px;
    }
    #section .love>h2{
        font-size: 20pt;
        padding-top: 20px;
        padding-left: 10px;
    }
    #section .love>p{
        font-size: 11pt;
        padding-top: 10px;
        line-height: 25px;
        padding-left: 10px;
    }
    #footer .footer_menu{
        display: none;
    }
    #footer .footer_nemo{
        flex-direction: column;
    }
    #footer .footer_menu2>p{
        width: 90%;
        margin:0 auto;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 10pt;
        line-height: 25px;
    }
    #footer .footer_menugp .footer_menu4{
        margin-top: -80px;
    }
    #footer .footer_menugp{
        display: none;
        margin-left: 0;
    }
    #footer .footer_menugp .footer_menu3>p{
        padding-bottom: 40px;
    }
    #footer .footer_menugp .footer_menu5{
        margin-top: 10px;
    }
    #footer .copyright{
        font-size: 11pt;
    }
}

